@{
    ViewData["Title"] = "Accueil";
}

<br />
<div class="text-center">
    <h1> Welcome to FirmWebApp</h1>
</div>

<br />
<hr />


<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-8 text-center">
            <h2>Layouts and Machines</h2>
            <p>Manage the layouts and machines in the factory.</p>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="text-center">
                <h3>Layouts</h3>
                <a href="/Layout" class="btn btn-outline-info">Manage Layouts</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <h3>Machines</h3>
                <a href="/Machine" class="btn btn-outline-info">Manage Machines</a>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />




@* DevExtreme theme *@
@* <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/23.1.4/css/dx.light.css"> *@
@* DevExtreme common scripts *@
@* <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/23.1.4/js/dx.all.js"></script> *@
@* For DevExtreme *@
@* <link href="~/css/devextreme/dx.common.css" rel="stylesheet" /> *@
@* <link href="~/css/devextreme/dx.light.css" rel="stylesheet" /> *@
@* 
<script src="~/js/devextreme/jquery.js"></script>

<script src="~/js/devextreme/cldr.js"></script>
<script src="~/js/devextreme/cldr/event.js"></script>
<script src="~/js/devextreme/cldr/supplemental.js"></script>
<script src="~/js/devextreme/cldr/unresolved.js"></script>

<script src="~/js/devextreme/globalize.js"></script>
<script src="~/js/devextreme/globalize/message.js"></script>
<script src="~/js/devextreme/globalize/number.js"></script>
<script src="~/js/devextreme/globalize/currency.js"></script>
<script src="~/js/devextreme/globalize/date.js"></script>

<script src="~/js/devextreme/dx.all.js"></script>
<script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
<script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>
 *@