@{
    ViewData["Title"] = "Accueil";
}

<br />
<div class="text-center">
    <h1> Welcome to FirmWebApp</h1>
</div>

<br />
<hr />


<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-8 text-center">
            <h2>Layouts and Machines</h2>
            <p>Manage the layouts and machines in the factory.</p>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="text-center">
                <h3>Layouts</h3>
                <a href="/Layout" class="btn btn-outline-info">Manage Layouts</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <h3>Machines</h3>
                <a href="/Machine" class="btn btn-outline-info">Manage Machines</a>
            </div>
        </div>
    </div>
</div>

